# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# python lambda function packages
python/
# Environments
.venv/
.env
.env.sample
# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data
data/

*.csv
*.json
*.zip
*.tar
*.pkl
